/* DEFINITION DE LA POLICE*/
@font-face 
{
    font-family: "ralewayBold" ;
    src: url("Fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ralewayRegular" ;
    src: url("Fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* 
{
    text-decoration: none;
}

.evaluation
{
    font-size: 1em;
    color: #0065fc;
}

.evaluation1
{
    font-size: 1em;
    color:#ccc6c6;
}




/*MISE EN PAGE HEADER*/

.logo
{
    width: auto;
    margin-top: 5px;
    margin-left: 3rem;
}

.head
{
    font-family: "ralewayRegular";
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 15px;
    width: 98%;
}

.inscription
{
  font-family: "ralewayBold";
  color:#0065fc;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
    margin-right: 3rem;
} 

nav a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/* MISE EN PAGE BARRE DE RECHERCHE + FILTRES*/

.rechercheFiltres h3
{
    font-family: "ralewayRegular";
    margin-left: 3rem;
}

.rechercheFiltres p
{
 font-family: "ralewayRegular";
 margin-left: 3rem;
}

#iconePosition
{
   border: 1px;
   border-radius: 10px 0px 0px 10px;
   background-color: #F2F2F2;
   margin-left: 3rem;
   padding: 12px;
}


#ville
{
    background-color:white;
    border: 1px solid #ccc6c6;
    border-radius: 0px 0px 0px 0px;
    width: 200px;
    height: 40.5px;
    color: white;
    margin-bottom: 30px;
    margin-top: -20px;
    margin-left: -0.25rem;
    padding: 15px;
}

::placeholder
{
    color: black;
    font-family: "ralewayBold";
    padding: 15px;
}

.recherche button
{
    background-color: #0065fc;
    border: 1px solid #ccc6c6;
    border-radius: 0px 10px 10px 0px;
    width: 130px;
    height: 40.5px;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: -0.5rem;
    font-family: "ralewayBold";
    
}

.filtresTitre label
{
    padding-top: 15px;
    margin-left: 3rem;
}

.filtres i
{
    border:1px solid #deebff ;
    border-radius: 50%;
    background-color: #deebff;
    color:#0065FC;
    padding:10px;
    height:30%;
}

.filtresTitre
{
    font-family: "ralewayBold";
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    padding: 15px;
}

.filtres
{
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc6c6;
    border-radius: 50px;
    background-color: white;
    height: 15%; 
    width: 50%;
    align-items: center;
    margin-left: 3rem;
}

.nomFiltres
{
    margin : auto;
    display: flex;
    align-items: center;
    font-family: "ralewayBold";
    text-align: center;
}

.infoLogementDispo
{
    display:flex;
    color: #0065fc;
    margin-left: 5rem;
}

figcaption
{
    color: black;
    margin-left: 1rem;
    font-family: "ralewayRegular";
}

/* MISE EN PAGE BODY*/

main
{   display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    margin-bottom: 10px;
    padding-top: 15px;
    
}

.hebergement
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 10px ;
    width: 70%;
    height: 170%;
    margin-right: 3rem;
    padding-top: 40px;
}

.hebergement h3
{
    font-family: "ralewayRegular";
    color: black;
    margin-left: 3rem;
    margin-top: -1rem;
}

.hebergement p
{
    font-family:"ralewayRegular";
    color: black;
}

.hebergementMarseille
{
    display:flex;
    flex-wrap: wrap;
}

.strong
{
    font-family: "ralewayBold";
}

.ongletsHotels img
{
    width: 320px;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}

.ongletsHotels
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin-left: 4rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: auto;
    font-family: "ralewayRegular";    
}

.ongletsHotels h3
{
    margin-left: 0rem;
    margin-top: 1rem;
}

.lesPlusPopulaires
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 10px ;
    width: 25%;
    margin-right: 20px;
    padding-top: 10px;
}

.ongletHotelPopulaire
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin-left: 4.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width:65%;
    flex-wrap: wrap;
}


.activitesAMarseille
{ 
    background-color: white;
    padding: 5px;
    margin-left: -20px;
    width:55%;
}












/* MISE EN PAGE FOOTER (finie) */

footer
{
    padding-left: 30px;
    max-width: 100%;
    margin-top: 40px;
    background-color: #f2f2f2;
    border: 1px; 
    display: flex;
    justify-content: space-between;
    font-family: "ralewayRegular";
    padding: 3rem;
}

footer h3
{
    margin-top: -1rem;
    margin-left: 2.5rem;
} 

ul 
{
    list-style-type: none; 
    line-height: 2em;
}  
