/* definition de la police*/

@font-face
{
    font-family: "raleway";
    src: url("Fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "ralewaybold";
    src: url("Fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
}

/* mise en page*/


body
{
    font-family: "raleway", sans-serif;
    margin: 0; /*evite le scroll superposé sur les elements de la page*/
}

a
{
    text-decoration: none; /* suppression de la decoration du texte pour les ancres*/
    color: initial;
}

header
{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

#logo
{
    margin: -2rem;
}

/* definition du grid pour la navigation du header */

.navigation img 
{
    grid-area: logo;
}

.navigation #hebergement
{
    grid-area: hebergement;
}

.navigation #activite
{
    grid-area: activite;
}

.navigation #inscription
{
    grid-area: inscription;
}

#inscription a
{
    font-family:"ralewaybold";
    color: #0065fc;
}

.navigation
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . hebergement activite inscription";
}

.navigation .onglet-nav 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation .onglet-nav .effet-survol
{
    width: 100%;
    height: 1.5px;
}

.navigation #hebergement > .effet-survol /* selection des enfants direct avec > */
{   
    background: #0065fc;
}

.navigation #activite:hover> .effet-survol 
{
    background: #0065fc;
}

.navigation a
{
    padding: 25px;
}

.navigation a:visited
{
    color: #0065fc;
}

.navigation #activite a
{
    color:black;
}

main /* taille et marge */
{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.slogan
{
    font-family:"ralewaybold";
    font-size: 18px; 
    margin-top: 1.5rem;
}

/*  barre de recherche */

.recherche
{
    display: inline-flex; /* alignement des differents items de la barre de recherche */
    flex-direction: row;
    margin-top: 35px;
    margin-bottom : 35px;
    height: 45px;
}

.icone-localisation
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    background-color: #f2f2f2;
    border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt
{
    font-size: 20px;
}

.saisie-recherche
{
    padding: 0 0 0 20px;
    width: 200px;
    border: none;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
}

::placeholder
{
    color:black;
    font-family: "ralewaybold";
    font-size: 16px;
    font-weight: 500;
}

.bouton-rechercher
{
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 13px;
    cursor: pointer; 
    font-family: "raleway";
}

.bouton-rechercher:hover
{
    background-color: #003c96;
}

#loupe 
{
    display: none; /* icone loupe pour l'action rechercher lors du responsive design */
}

/* mise en page filtres */

.filtres h3
{
    font-family: "ralewaybold";
    font-size: 20px;
    display: inline; 
}

.filtres ul
{
    font-family :"ralewaybold";
    display: inline-flex; /* alignement des filtres */
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.filtres ul li
{
    display: inline;
    margin-left: 25px;  
    font-weight: 600;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
}

.filtres ul li:hover /* changement apparence filtre lors d'un survol */
{
    cursor: pointer;
    background: #deebff;
}

.filtres ul li:hover .icone-filtre
{
    background: white;
}

.icone-filtre
{
    background-color: #deebff;
    color: #0065fc;
    padding:20px;
    border-radius: 200px;
    margin-right: 15px;
}

.info-dispo-logement p /* alignement titre filtre + filtre */
{
    display: inline;
}

.info-dispo-logement .fas
{
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #d9d9d9;
    border-radius: 200px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

/*partie hébergements à marseille*/
#Hebergements{
    margin-top: 30px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
    width: 95%;
    margin: auto;
}

#marseille{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 40px;
    max-width: 820px;
}

.bloc_hebergement{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 880px;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    max-width: 1440px;
}

.box_hebergement{
    max-width: 240px;
    height: 200px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #797b80;
}

img.imghebergement{
    max-width: 235px;
    width: 100%;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;
}

p,h3{
    margin: 0px;
    color: black;
}

.bloctexte{
    padding: 15px;
    width: 100%;
}

.starbleue{
    color:  #0065FC;
}

.stargrise{
    color: #F2F2F2;
}

a.vignette_photo{
    text-decoration: none;
}

.box_hebergement:hover{ 
    transform: scale(1.05);
    transition: 1s;
}

/*partie hébergements populaires*/
#populaire{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 40px;
    max-width: 340px;
}

.bloc_populaire{
    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: 145px 145px 145px;
    max-width: 420px;
    grid-row-gap: 35px;
}

.box_populaire{
    max-width: 340px;
    height: 145px;
    background-color: white;
    padding: 0 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #797b80;
}

.box_populaire:hover {
    transform: scale(1.05);
    transition: 1s;
}

img.imgpopulaire{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.bloc2{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 140px;
    max-width: 340px;
    display: grid;
    align-items: flex-end;
}

#titre_populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graphique{
    font-size: 1.5em;
}

.bloctexte_populaire{
    padding: 15px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#afficherplus{
    margin-top: 20px;
}

/*partie activités*/
#activites{
    width: 95%;
    margin: auto;
}

h2#titre_activite{
    margin-top: 60px;
}

#bloc_activites{
    width: 1340px;
    height: 480px;
    display: flex;
    column-gap: 40px;
    margin: auto;
    margin-top: 30px;
}

#bloc_media{
    display: none;
}

#vignette1{
    display: flex;
    width: 300px;
    height: 450px;
}

#photo1{
    max-width: 300px;
    max-height: 390px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule1{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette2{
    display: flex;
    height: 240px;
    width: 300px;
    margin-bottom: 50px;
}

#photo2{
    max-width: 300px;
    max-height: 180px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule2{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette3{
    display: flex;
    height: 160px;
    width: 300px;
}

#photo3{
    max-width: 300px;
    max-height: 100px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule3{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette4{
    display: flex;
    height: 450px;
    width: 300px;
}

#photo4{
    max-width: 300px;
    max-height: 390px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule4{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette5{
    display: flex;
    height: 190px;
    width: 300px;
    margin-bottom: 50px;
}

#photo5{
    max-width: 300px;
    max-height: 130px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule5{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

#vignette6{
    display: flex;
    height: 210px;
    width: 300px;
}

#photo6{
    max-width: 300px;
    max-height: 150px;
    margin: 0;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    width: 100%;
}

#intitule6{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
}

figure{
    box-shadow: 1px 1px 12px #797b80;
    margin: 0;
    border-radius: 25px;
}

figcaption{
    height: 60px;
    width: auto;
    position: absolute;
    align-self: flex-end;
}

a{
    text-decoration: none;
}

figure:hover{
    transform: scale(1.05);
    transition: 1s;
}

/*footer*/
footer{
    display: flex;
    background-color: #f2f2f2;
    height: 220px;
    margin-top: 60px;
    justify-content: center;
}

footer h3{
    font-size: 1.5em;
    margin: 40px 0 20px 0;
}

.bloc_footer{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 33%;
    padding-top: 15px;
}

.texte_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
}

a.lien_footer:hover{
    color: #0065FC;
    text-decoration: underline;
}

/*responsive mobile*/
@media screen and (max-width: 1400px) {
    body{
        max-width: 1400px;
    }

    header{
        max-width: 1400px;
        width: 96%;
        margin: auto;
    }

    #recherche{
        width: 96%;
        margin: auto;
    }

    .bloc_hebergement{
        max-width: 1400px;
    }

    #Hebergements{
        grid-template-columns: 1fr;
    }

    #box_hebergement{
        max-width: 400px;
        width: 100%;
    }

    h2#titre_activite {
        margin: 30px 0 0px 20px;
    }

    #populaire{
        padding: 10px 20px 20px 20px;
        grid-area: 1/1/2/2;
        max-width: 1400px;
    }

    .bloc_populaire {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        max-width: 1400px;
    }

    .bloc2{
        max-width: 1400px;
        width: 100%;
    }

    .box_populaire{
        width: 98%;
        max-width: 400px;
    }

    .bloctexte_populaire{
        padding: 0 0 0 10px;
        height: 95%;
    }

    #marseille{
        max-width: 1400px;
        padding: 20px;
        margin-top: 20px;
    }

    .box_hebergement{
        max-width: 1400px;
    }

    img.imghebergement {
        max-width: 100%;
    }

    #activites{
        width: 97%;
    }

    #bloc_activites{
        display: none;
    }
    
    #bloc_media{
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        max-width: 1400px;
        justify-content: center;
    }

    #vignette11, #vignette12, #vignette13, #vignette14, #vignette15, #vignette16{
        width: auto;
        margin: 20px;
        height: 100%;
        max-height: 300px;
    }

    .vignette{
        width: 33%;
    }

    .photo_activites{
        width: 100%;
        max-width: 420px;
        max-height: 300px;
        height: 80%;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
    }

    figure{
        width: auto;
    }

    figcaption{
        padding-left: 20px;
        display: flex;
        align-items: center;
        margin-top: -5px;
    }

    footer{
        max-width: 1400px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav{
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .bloc_hebergement{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .bloc2{
        grid-template-columns: 35% 65%;
    }

    img.imgpopulaire{
        width: 100%;
    }

    .bloctexte, .bloctexte_populaire{
        font-size: 92%;
    }

    #bloc_media{
        max-width: 1020px;
        width: 100%;
    }

    #vignette11, #vignette12, #vignette13, #vignette14, #vignette15, #vignette16 {
        width: auto;
        margin: 20px;
        height: 100%;
        max-height: 200px;
    }

    .photo_activites {
        width: 100%;
        max-width: 300px;
        max-height: 200px;
        height: 70%;
    }

    figcaption{
        max-width: 220px;
    }

    footer{
        max-width: 1023px;
    }
}

@media screen and (max-width: 767px) {
    body{
        margin-top: 30px;
    }

    header{
        margin: 0;
        width: 100%;
    }

    nav{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #inscription{
        grid-area: -3/-2/-2/-2;
        justify-content: flex-end;
        margin-right: 20px;
    }

    #logo_reservia{
        grid-area: -3/-2/-2/-3;
        margin-left: 20px;
    }

    #hebergements, #activite:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    #inscription:hover{
        border-top: none;
    }

    #recherche{
        padding: 0 20px;
        width: auto;
    }

    h1{
        margin-top: 60px;
        width: 100%;
    }

    #bouton_rechercher{
        display: none;
    }

    .bouton_recherche{
        width: 95%;
    }

    #rechercher{
        width: 80%;
    }

    #loupe {
        display: flex;
        align-items: center;
        width: 13%;
        justify-content: center;
        border-radius: 15px;
        font-size: 1.2em;
    }

    #box_filtres{
        max-width: 767px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .logos{
        margin: 0 0 15px 0;
        width: auto;
        padding-right: 10px;
        margin-right: 10px;
        height: 45px;
    }

    #filtres{
        flex-wrap: wrap;
        display: flex;
        
    }

    .logofiltre{
        height: 1.1em;
    }

    .logos .fas{
        font-size: 1.1em;
        padding: 13px;
        width: 20px;
    }

    .info{
        margin: 0;
    }

    #info{
        margin-top: 0;
    }

    #p_info{
        margin-left: 10px;
    }

    #Hebergements{
        width: auto;
    }

    #populaire{
        border-radius: 0;
    }
    
    .bloc_populaire{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }

    .box_populaire{
        max-width: 767px;
    }
    
    #marseille{
        background-color: white;
    }

    .bloc_hebergement{
        display: flex;
        flex-direction: column;
        width: 97.5%;
        margin: auto;
    }

    .box_hebergement{
        box-shadow: 1px 1px 5px #d0d2d6;
    }

    img.imghebergement{
        width: 99%;
    }

    #afficherplus{
        margin: 0;
    }

    #activites{
        width: auto;
        margin-top: 50px;
    }

    #bloc_media{
        flex-direction: column;
        width: auto;
        padding: 0 20px;
    }

    .vignette{
        width: 100%;
        margin-bottom: 10px;
    }

    #vignette11, #vignette12, #vignette13, #vignette14, #vignette15, #vignette16{
        height: 250px;
        margin: auto;
        margin-top: 30px;
    }

    img.photo_activites{
        height: 190px;
        max-width: 767px;
        width: 100%;
    }

    #intitule11, #intitule12, #intitule13, #intitule14, #intitule15, #intitule16{
        height: 55px;
    }

    .titre {
        padding-left: 20px;
        display: flex;
        align-items: center;
        margin-top: -5px;
    }

    footer{
        margin-top:60px;
        height: 100%;
        flex-direction: column;
        padding-bottom: 60px;
    }

    .bloc_footer{
        width: auto;
    }
}